<!DOCTYPE html>
<html lang="en">
  <%- include('same/head'); -%>
  <body>
    <%- include('same/nav'); -%>
    <form
      id="movieForm"
      action="/hotels?lang=<%= currentLanguage %>"
      method="post"
    >
      <h1><%= translation.hotelInfo %></h1>
      <label for="movieTitle"><%= translation.hotelCity %></label>
      <input
        type="text"
        id="hotelName"
        name="hotelName"
        placeholder="Ex: New York"
      />
      <button type="submit"><%= translation.hotelButton %></button>
    </form>
    <div id="movieResultContainer">
      <% if (hotels !== null) { %> <% for (let i = hotels.length - 1; i >= 0;
      i--) { %> <% const hotel = hotels[i]; %> <% const [lat, lon] =
      hotel.location.split(', ').map(parseFloat); %>
      <div class="movie-container" data-lat="<%= lat %>" data-lon="<%= lon %>">
        <h2><%= hotel.hierarchy %></h2>
        <p class="movie-info">
          <%= translation.entityName %>: <%= hotel.entityName %>
        </p>
        <p class="movie-info">
          <%= translation.lat %>: <%= lat %>, <%= translation.lon %>: <%= lon %>
        </p>

        <p class="movie-info">
          <%= translation.hotelAddress %>: <%=
          hotel.suggestItem.replace(/{strong}/g, '').replace(/{\/strong}/g, '')
          %>
        </p>
        <p class="movie-info">
          <%= translation.entityClass %>: <%= hotel.class %>
        </p>
        <p class="movie-info">
          <%= translation.entityType %>: <%= hotel.entityType %>
        </p>
        <div class="map-container" style="height: 300px"></div>
        <hr />
      </div>
      <% } %> <% } %>
    </div>

    <script>
      //This script is only for showing map, based on latitude and longitude
      function initMap(container) {
        const lat = parseFloat(container.dataset.lat);
        const lon = parseFloat(container.dataset.lon);
        console.log(typeof lat);
        console.log(lat);
        console.log("Longitude: " + lon);

        const map = L.map(container.querySelector(".map-container")).setView(
          [lat, lon],
          15
        );

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution: "&copy; OpenStreetMap contributors",
        }).addTo(map);

        L.marker([lat, lon]).addTo(map);
      }

      document.addEventListener("DOMContentLoaded", function () {
        const containers = document.querySelectorAll(".movie-container");
        containers.forEach((container) => {
          initMap(container);
        });
      });
    </script>
    <% if (includeFooter) { %>
    <div id="footer"><%- include('same/foot'); -%></div>
    <% } %>
  </body>
</html>
