<!DOCTYPE html>
<html lang="en">
  <%- include('same/head'); -%>
  <body>
    <%- include('same/nav'); -%>
    <main>
      <div class="container-fluid px-0 mt-5">
        <form action="/register?lang=<%= currentLanguage %>" method="post">
          <h1><%= translation.registerButton %></h1>
          <% if (errorMessage) { %>
          <p class="error-message"><%= errorMessage %></p>
          <% } %>
          <label for="newUsername"><%= translation.newUsername %>:</label>
          <input type="text" id="newUsername" name="username" required />
          <label for="newEmail"><%= translation.newEmail %>:</label>
          <input type="email" id="newEmail" name="email" required />
          <label for="newPassword"><%= translation.newPassword %>:</label>
          <input type="password" id="newPassword" name="password" required />
          <button type="submit"><%= translation.registerButton %></button>
          <p><%= translation.haveAccount %>  <a href="/login?lang=<%= currentLanguage %>"><%= translation.loginHere %></a></p>
        </form>
      </div>
    </main>
    <%- include('same/foot'); -%>
  </body>
</html>
